<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Blocked</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        .container {
            text-align: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        img {
            width: 39%
        }
        h2 {
            color: #333;
            margin-bottom: 20px;
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            background-color: #0ed700;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="/images/blocked.jpg" alt="Blocked Image">
        <h2>Your account is blocked</h2>
        <a href="mailto:support@example.com?subject=Request%20for%20Unblocking&body=Please%20unblock%20my%20account.">Request For Unblocking</a>
    </div>
</body>
</html>
