
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">VistaVogue</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="/admin/dashboard">
                <div class="parent-icon"><i class="bx bx-home-circle"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-cart'></i>
                </div>
                <div class="menu-title">Products</div>
            </a>
            <ul>
                <li> <a href="/admin/products"><i class="bx bx-right-arrow-alt"></i>Products</a>
                </li>
                <li> <a href="/admin/add-product"><i class="bx bx-right-arrow-alt"></i>Add New Products</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin/userManageGet">
                <div class="parent-icon"><i class="bx bxs-user-check"></i>
                </div>
                <div class="menu-title">User Management</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-category-alt'></i>
                </div>
                <div class="menu-title">Categories</div>
            </a>
            <ul>
                <li> <a href="/admin/categorys"><i class="bx bx-right-arrow-alt"></i>Category Lists</a>
                </li>
                <li> <a href="/admin/add-categorys"><i class="bx bx-plus"></i>Add New Category</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="ecommerce-orders.html">
                <div class="parent-icon"><i class='bx bx-box'></i>
                </div>
                <div class="menu-title">Orders</div>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class="bx bx-error"></i>
                </div>
                <div class="menu-title">Errors</div>
            </a>
            <ul>
                <li> <a href="errors-404-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>404 Error</a>
                </li>
                <li> <a href="errors-500-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>500 Error</a>
                </li>
                <li> <a href="errors-coming-soon.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Coming Soon</a>
                </li>
            </ul>
        </li>
    </ul>
    <!--end navigation-->
</div>