<div class="sidebar">
    <% if(locals.user){ %>
    <h3>ACCOUNT <br> <p> <%= user.name.toUpperCase() %></p><hr></h3>
    <% } %>
    <ul class="sidebar-nav">
        <li><a href="/userProfile" class="nav-item">
            <i class="fas fa-user"></i>
            Profile
        </a></li>
        <li><a href="/orders" class="nav-item">
            <i class="fas fa-box"></i>
            Orders
        </a></li>
        <li><a href="/wallet" class="nav-item">
            <i class="fas fa-wallet"></i>
            Wallet
        </a></li>
        <li><a href="/shipAddress" class="nav-item">
            <i class="fas fa-address-book"></i>
            Shipping Addresses
        </a></li>
        <li><a href="/logout" id="logoutButton" onclick="confirmLogout(event)" class="nav-item logout">
            <i class="fas fa-sign-out-alt"></i>
            Sign Out
        </a></li>
    </ul>
</div>