<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><h3><span style="color: black;">VISTA</span>VOGUE</h3></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class=""><a href="/">HOME</a></li>
                        <li><a href="/products">PRODUCTS</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                    <a href="/wishlist"><img src="/img/icon/heart.png" alt=""></a>
                    <a href="/cart"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
                    
                    <% if( locals.user){%>
                    <div class="dropdown">
                        <button class="dropdown-toggle"
                         style="border-radius: 7px; 
                         padding: 0px 6px;">
                         <%= user.name.charAt(0).toUpperCase()%>
                        </button>
                        <div class="dropdown-menu" style="z-index: 10; background-color: #000000;">
                            <a href="#" style="margin-right: 0;"><%= user.name.toUpperCase() %></a>                            
                            <a href="/userProfile" style="margin-right: 0;">PROFILE</a>                            
                            <a href="/products" style="margin-right: 0;">PRODUCTS</a>
                            <a href="/orders" style="margin-right: 0;">ORDERS</a>
                            <a href="/logout" style="margin-right: 0;" id="logoutButton" style="color: red;" onclick="confirmLogout(event)">LOGOUT</a>
                        </div>
                    </div>
                <%}else{%>
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                    <%}%>

            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

